@use "common/design" as *;
@use "mixins/mixins.scss" as *;
@use "./dateTable.scss";
@use "./monthTable.scss";

@include b(datePicker) {
  position: relative;

  &-panel {
    width: fit-content;
    border-radius: 8px;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

div[class*="trigger-wrapper"] {
  .#{$B}-panel {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}