@use "common/extend.scss" as *;
@use "common/design.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(statistic) {
  display: flex;
  font-size: 26px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1.8;

  &-int,
  &-dec {
    color: var(--bp-gray-9);
  }
}
