@use "common/extend.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(steps) {
  display: flex;

  &-item {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;

    &:not(:last-child) {
      flex: 1;
      margin-right: 12px;

      [class*="step-title"] {
        &::after {
          position: absolute;
          top: 14px;
          left: 100%;
          display: block;
          box-sizing: border-box;
          width: 5000px;
          height: 1px;
          background-color: var(--bp-gray-2);
          content: "";
        }
      }
    }
  }
}
