@use "common/extend.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(step) {
  @include flex(row, flex-start, center);

  &-node {
    @include flex(row, center, center) {
      width: 26px;
      height: 26px;
      background-color: var(--bp-gray-1);
      border-radius: 50%;
      color: var(--bp-gray-9);
      font-size: 14px;
      margin-right: 10px;
    }
  }

  &-title {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
    color: var(--bp-gray-7);
    line-height: 28px;
    white-space: nowrap;
    text-align: left;
  }
}

.#{$B}-process {
  .#{$B}-title {
    color: var(--bp-gray-9);
    font-weight: 500;
  }

  .#{$B}-node {
    background-color: var(--bp-primary-6);
    color: var(--bp-gray-0);
  }
}

.#{$B}-finish {
  .#{$B}-node {
    background-color: var(--bp-primary-1);
    color: var(--bp-primary-6);

    svg[class*="-icon-"] {
      fill: var(--bp-primary-6);
    }
  }
}
