@use "common/design" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins" as *;

@include b(year-table) {
  // Date cell
  @include css-var-from-global-rgb(("year-table", "year-text-color"), ("gary", 10));
  @include css-var-from-global-rgb(("year-table", "year-text-color-hover"), ("primary", 6));
  @include css-var-from-global-rgb(("year-table", "year-text-color-active"), ("gary", 0));
  @include css-var-from-global-rgb(("year-table", "year-bg-color"), ("gary", 0));
  @include css-var-from-global-rgb(("year-table", "year-bg-color-hover"), ("gary", 1));
  @include css-var-from-global-rgb(("year-table", "year-bg-color-active"), ("primary", 6));

  display: flex;
  flex-direction: column;
  width: 260px;
  border-radius: 8px;
  background-color: var(--bp-gary-0);
  border: $borderSize solid var(--bp-gary-2);

  &-body {
    padding: 16px 12px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 10px 0;

    .#{$B}-year-cell {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      &-inner {
        width: 52px;
        color: rgba(getCssVar("year-table", "year-text-color"), 1);
        background-color: rgba(getCssVar("year-table", "year-bg-color"), 1);
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        line-height: 2;
        text-align: center;
        transition: all 0.2s;
      }

      &:hover {
        .#{$B}-year-cell-inner {
          color: rgba(getCssVar("year-table", "year-text-color-hover"), 1);
          background-color: rgba(getCssVar("year-table", "year-bg-color-hover"), 1);
          transition: all 0.2s;
        }
      }
    }

    .active {
      .#{$B}-year-cell-inner {
        color: rgba(getCssVar("year-table", "year-text-color-active"), 1);
        background-color: rgba(getCssVar("year-table", "year-bg-color-active"), 1);
        transition: all 0.2s;
      }

      &:hover{
        .#{$B}-year-cell-inner {
          color: rgba(getCssVar("year-table", "year-text-color-active"), 1);
          background-color: rgba(getCssVar("year-table", "year-bg-color-active"), 1);
          transition: all 0.2s;
        }
      }
    }

    .to-year {
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 4px;
        height: 4px;
        margin-left: -2px;
        border-radius: 4px;
        background-color: rgba(getCssVar("year-table", "year-bg-color-active"), 1);
      }
    }
  }
}
